* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	position: relative;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	font-weight: 400;
}

h2 {
	color: #2a8db4;
	font-size: 25px;
	padding-left: 10px;
	margin-bottom: 50px;
	text-transform: uppercase;
	border-left: 3px solid #77afc9;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.color-green {
	color: #7bb46d;
}


.btn-close {
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	color: #000;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
}


.modal-box {
	width: 260px;
	padding: 20px 15px;
	position: relative;

	.modal-box-title {
		font-size: 26px;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
		margin-bottom: 25px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		width: 380px;
		padding: 30px 20px;
	}
}

