.b07 {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
    background: url("../img/b07_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    h2 {
        color: #fff;
        margin-bottom: 50px;
        border-left-color: #fff;
    }

    .text {
        font-weight: 600;
        max-width: 630px;
        margin-bottom: 45px;
    }

    textarea {
        height: 108px;
    }
}