.b02 {
    padding-top: 40px;
    background: #fff url("../img/bg.jpg") 50% 0 repeat-y;

    h2 {

    }

    .advantages {
        max-width: 280px;
        margin: 0 auto;

        .col-sm-6 {
            padding-top: 52px;
        }
    }

    .advantage-item {
        color: #444;
        font-size: 15px;
        line-height: 20px;
        position: relative;
        text-align: center;
        background: #f2f2f2;
        margin-bottom: 50px;
        padding: 80px 30px 30px 30px;

        &:before {
            left: 50%;
            top: -52px;
            content: '';
            width: 108px;
            height: 108px;
            margin-left: -54px;
            position: absolute;
            background-color: #fff;
            border: 3px solid #7bb46d;
            @include border-radius(50%);
        }

        &.item1 {
            &:before {
                background: #fff url("../img/b02_item1.png") 50% 50% no-repeat;
            }
        }

        &.item2 {
            &:before {
                background: #fff url("../img/b02_item2.png") 50% 50% no-repeat;
            }
        }

        &.item3 {
            &:before {
                background: #fff url("../img/b02_item3.png") 50% 50% no-repeat;
            }
        }

        &.item4 {
            &:before {
                background: #fff url("../img/b02_item4.png") 50% 50% no-repeat;
            }
        }

        &.item5 {
            &:before {
                background: #fff url("../img/b02_item5.png") 50% 50% no-repeat;
            }
        }

        &.item6 {
            &:before {
                background: #fff url("../img/b02_item6.png") 50% 50% no-repeat;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .advantages {
            max-width: inherit;
        }

        .advantage-item {
            height: 187px;
            padding: 80px 40px 10px 40px;
        }
    }

    @media (min-width: $screen-md-min) {

        .advantages {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}