.b08 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff url("../img/bg.jpg") 50% -650px no-repeat;

    .example {
        margin-bottom: 35px;

        li {
            color: #777;
            font-size: 16px;
            line-height: 20px;
            padding-top: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #dbdbdb;

            p {
                font-style: italic;
                margin-bottom: 25px;
            }

            .example-name {
                font-weight: 700;
                padding-top: 10px;
                margin-bottom: 20px;
            }

            .example-photo {
                width: 118px;
                height: 118px;
                margin: 0 auto 20px auto;
                @include border-radius(50%);
            }
        }
    }

    .example-hide {
        display: none;
    }

    .example-more {
        color: #224d82;
        cursor: pointer;
        display: inline-block;

        span {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        i {
            margin-left: 10px;
        }

    }

    @media (min-width: $screen-sm-min) {

        .example {

            li {
                .example-photo {
                    float: left;
                    margin: 0;
                }

                .example-text {
                    margin-left: 160px;
                }

                .example-name {
                    margin-bottom: 0;
                }
            }
        }
    }
}