.b06 {
    padding-top: 60px;
    padding-bottom: 40px;
    background: url("../img/bg.jpg") 50% 0 repeat-y;

    .slider-inner {
        position: relative;
    }

    .review-source-slider {
        position: relative;
        margin-bottom: 55px;

        .review-source-item {
            outline: none;
            text-align: center;
        }

        .review-source-image {
            @include img-responsive(inline-block);
        }

        .slide-nav {
            top: 50%;
            width: 52px;
            height: 52px;
            cursor: pointer;
            font-size: 20px;
            padding: 14px 0;
            color: #a1a1a1;
            text-align: center;
            line-height: 20px;
            margin-top: -26px;
            position: absolute;
            border: 2px solid #a1a1a1;
            @include border-radius(50%);

            &:hover {
                color: #7bb46d;
                border-color: #7bb46d;
            }

            &.prev {
                left: -60px;
            }

            &.next {
                right: -60px;
            }
        }

        .slick-dots {
            left: 0;
            right: 0;
            bottom: -20px;
            font-size: 0;
            line-height: 0;
            position: absolute;
            text-align: center;

            li {
                margin: 0 4px;
                display: inline-block;

                button {
                    padding: 0;
                    width: 12px;
                    height: 12px;
                    border: none;
                    outline: none;
                    color: #a1a1a1;
                    background: #a1a1a1;
                    display: inline-block;
                    @include border-radius(50%)
                }

                &.slick-active {

                    button {
                        background: #7bb46d;
                    }
                }
            }
        }
    }

    h2 {
        margin-bottom: 30px;
    }

    .service {
        max-width: 350px;
        margin: 0 auto;

        li {
            margin-bottom: 30px;

            .service-image {
                margin-bottom: 15px;
            }

            .service-title {
                color: #224d82;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .slider-inner {
            margin-left: 65px;
            padding-right: 65px;
        }

        .service {
            max-width: inherit;

            li {
                width: 50%;
                float: left;
                border: 1px solid transparent;
            }
        }
    }


    @media (min-width: $screen-md-min) {

        .service {

            li {
                width: 33.33%;
            }
        }
    }
}