.b01 {
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    h1 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
        text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.2);

        span {
            display: block;
            font-size: 34px;
        }
    }

    .text {
        font-size: 16px;
        line-height: 20px;
        max-width: 780px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 40px auto;
    }

    @media (min-width: $screen-sm-min) {
        height: 690px;
        padding-top: 160px;


        h1 {
            font-size: 40px;
            margin-bottom: 60px;

            span {
                font-size: 50px;
            }
        }

        .text {
            font-size: 21px;
            line-height: 27px;
        }
    }

}