.b05 {
    padding-top: 50px;
    padding-bottom: 40px;
    background: url("../img/b05_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    h2 {
        margin-bottom: 40px;
    }

    .review-slider {
        position: relative;
        margin-bottom: 40px;
    }

    .review-item {
        outline: none;
        position: relative;
    }

    .review-photo {
        width: 147px;
        height: 147px;
        overflow: hidden;
        margin: 0 auto 30px auto;
        @include border-radius(50%);
    }

    .review-text {
        text-align: center;

        .review-author {
            color: #505050;
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 20px;

            span {
                color: #224d82;
                display: block;
                font-size: 21px;
                line-height: 21px;
            }
        }

        p {
            font-size: 14px;
        }
    }

    .review-slider-next {
        color: #224d82;
        cursor: pointer;
        display: inline-block;

        span {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        i {
            margin-left: 10px;
        }

    }


    @media (min-width: $screen-sm-min) {

        h2 {
            margin-bottom: 80px;
        }

        .review-slider {
            height: 180px;
        }

        .review-photo {
            margin: 0;
            float: left;
        }

        .review-text {
            text-align: left;
            padding-left: 170px;
        }

        p {
            font-size: 16px;
        }
    }

    @media (min-width: $screen-md-min) {

        .review-item {
            padding-left: 25px;
        }
    }
}