.b04 {
    padding-top: 45px;
    background: #fff;
    padding-bottom: 40px;

    h2 {
        margin-bottom: 25px;
    }

    .text-lead {
        font-size: 15px;
        margin-bottom: 40px;
    }

    .doctor-img {
        margin-bottom: 10px;
    }

    .doctor-name {
        color: #000;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
    }

    .doctor-skill {
        color: #000;
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
    }


    @media (min-width: $screen-sm-min) {

        .text-lead {
            font-size: 19px;
        }

        .doctor-skill {
            margin-bottom: 0;
        }
    }
}