.b03 {
    color: #fff;
    padding-top: 50px;
    background: #7bb46d;
    padding-bottom: 10px;

    h2 {
        color: #fff;
        margin-bottom: 40px;
    }

    .description-item {
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
        padding: 160px 10px 10px 10px;

        &.item1 {
            background: url("../img/b03_item1.png") 50% 0 no-repeat;
        }

        &.item2 {
            background: url("../img/b03_item2.png") 50% 0 no-repeat;
        }

        &.item3 {
            background: url("../img/b03_item3.png") 50% 0 no-repeat;
        }

        &.item4 {
            background: url("../img/b03_item4.png") 50% 0 no-repeat;
        }

        &.item5 {
            background: url("../img/b03_item5.png") 50% 0 no-repeat;
        }
    }

    @media (min-width: $screen-sm-min) {

        .description-item {
            height: 230px;
        }
    }

    @media (min-width: $screen-md-min) {

        .description-item {
            height: 230px;
        }
    }
}