.b09 {
    color: #fff;
    padding: 30px 0;
    background: #7bb46d;

    h2 {
        color: #fff;
        margin-bottom: 40px;
    }

    .just {
        margin: 0 auto;
        list-style:none;
        counter-reset:li;
        max-width: 230px;
        padding:0 0 40px 0;
        position: relative;

        &:before {
            left: 50%;
            bottom: 5px;
            width: 38px;
            height: 20px;
            content: ' ';
            position: absolute;
            margin-left: -19px;
            background: url("../img/icon-arrow-down.png")0 0 no-repeat;
        }

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                top: 10px;
                left: 15px;
                color: #fff;
                width: 28px;
                height: 28px;
                z-index: 200;
                padding: 2px 0;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                position: absolute;
                content:counter(li);
                counter-increment:li;
                border: 2px solid #fff;
                @include border-radius(50%);
            }

            .just-item {
                color: #fff;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                position: relative;
                text-transform: uppercase;
                padding: 65px 25px 20px 25px;
                background-color: rgba(0,0,0, 0.2);
            }

            &.item1 {

                .just-item {
                    background: rgba(0,0,0, 0.2) url("../img/b09_item1.png") 50% 16px no-repeat;
                }
            }

            &.item2 {

                .just-item {
                    background: rgba(0,0,0, 0.2) url("../img/b09_item2.png") 50% 16px no-repeat;
                }
            }

            &.item3 {
                .just-item {

                    background: rgba(0,0,0, 0.2) url("../img/b09_item3.png") 50% 16px no-repeat;
                }
            }

            &.item4 {
                .just-item {

                    background: rgba(0,0,0, 0.2) url("../img/b09_item4.png") 50% 16px no-repeat;
                }
            }

            &.item5 {
                .just-item {

                    background: rgba(0,0,0, 0.2) url("../img/b09_item5.png") 50% 16px no-repeat;
                }
            }

            &.item6 {
                .just-item {

                    background: rgba(0,0,0, 0.2) url("../img/b09_item6.png") 50% 16px no-repeat;
                }
            }

            &.item7 {
                .just-item {

                    background: rgba(0,0,0, 0.2) url("../img/b09_item7.png") 50% 16px no-repeat;
                }
            }

            &.item8 {
                .just-item {

                    background: rgba(0,0,0, 0.2) url("../img/b09_item8.png") 50% 16px no-repeat;
                }
            }
        }
    }

    .total {
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        padding-top: 80px;
        text-align: center;
        text-transform: uppercase;
        background: url("../img/b09_item0.png") 50% 0 no-repeat;
    }


    @media (min-width: $screen-sm-min) {

        .just {
            max-width: inherit;
            margin: 0 -5px 15px -5px;

            li {
                float: left;
                width: 33.33%;
                padding: 0 5px;

                .just-item {
                    height: 115px;
                    padding: 60px 25px 10px 25px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .just {

            li {
                width: 25%;
            }
        }
    }
}