.b10 {
    padding: 40px 0;
    background: #fff;

    h2 {
        margin-bottom: 30px;
    }

    .text-lead {
        color: #a5a5a5;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .doctor-img {
        margin-bottom: 10px;
    }

    .doctor-name {
        color: #000;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
    }

    .doctor-skill {
        color: #000;
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
    }


    @media (min-width: $screen-sm-min) {

        .doctor-skill {
            margin-bottom: 0;
        }
    }

    @media (min-width: $screen-md-min) {

        .form-box {
            margin-left: 100px;
        }
    }
}
