@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.otf')  format('opentype'),
    url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'),
    url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
