.footer {
    font-size: 20px;
    line-height: 26px;
    background: #e9e9e9;

    a {
        color: #444;
        text-decoration: none;
    }

    .footer-row {

        .footer-col {
            padding: 20px 0;
            text-align: center;

            &.footer-center {
                color: #fff;
                background: #7bb46d;

                a {
                    color: #fff;
                }
            }

            &:first-child {

            }

            &:last-child {

            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .footer-row {
            width: 100%;
            display: table;

            .footer-col {
                width: 33.33%;
                padding: 30px 0;
                display: table-cell;
                vertical-align: middle;

                &:first-child {

                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}