.header {
    padding-top: 12px;
    padding-bottom: 15px;
    background: #fff url("../img/bg.jpg") 50% 0 repeat-y;

    .logo {
        width: 120px;
        float: left;
    }

    .header-contact {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;

        li {
            margin: 0;
            line-height: 1;
        }

        span {
            color: #444;
            font-size: 14px;
            line-height: 16px;
        }

        .header-tel {
            color: #224d82;
            font-size: 27px;
            font-weight: 700;
            line-height: 30px;
            text-decoration: none;
        }

        .btn-callback {
            color: #000;
            font-size: 13px;
            line-height: 16px;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }


    .navbar-toggle {
        float: right;
        width: 32px;
        height: 32px;
        color: #78d2db;
        padding: 5px 0;
        cursor: pointer;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        margin-top: 4px;
        border: 1px solid #78d2db;
        @include border-radius(5px);

        &:hover,
        &.active {
            color: #53a6eb;
            border-color: #53a6eb;
        }
    }

    @media (min-width: $screen-sm-min) {

        .logo {
            width: 180px;
            margin: 10px 0 0 0;
            float: left;
        }

        .header-contact {
            float: right;
            width: 260px;
            margin-bottom: 0;
            padding-left: 65px;
            background: url("../img/icon-tel.png") 0 0 no-repeat;
        }

        .navbar-toggle {
            display: none;
        }

    }
}

.navbar {
    z-index: 100;
    display: none;
    padding: 15px;
    margin: 15px -15px -15px -15px;

    > li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        &:before {
            left: 0;
            top: 8px;
            width: 8px;
            height: 8px;
            content: ' ';
            background: #fff;
            position: absolute;
            @include border-radius(50%);
        }


        a {
            color: #000;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none;
            vertical-align: middle;

            &:hover {
                color: #a2e028;
            }

            i {
                line-height: 20px;
            }
        }

        &.dropdown {

            .dropdown-menu  {
                display: none;
                padding: 10px;
                z-index: 9999;

                li {
                    margin-bottom: 5px;
                    position: relative;
                    padding-left: 10px;

                    &:before {
                        top: 0;
                        left: 0;
                        color: #000;
                        content: '-';
                        position: absolute;
                    }

                    a {

                        color: #000;
                        font-size: 17px;
                        line-height: 20px;
                        text-decoration: none;

                        &:hover {
                            color: #a2e028;
                        }
                    }
                }
            }

            &.open {

                ul {
                    display: block;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        margin: 0;
        font-size: 0;
        line-height: 0;
        padding: 15px 0 0 0;
        display: block;
        text-align: center;
        position: relative;
        background: transparent;

        > li {
            display: inline-block;
            padding: 5px 10px 0 10px;
            margin-bottom: 0;

            &:before {
                display: none;
            }

            a {
                color: #000;
                font-size: 12px;
                text-transform: uppercase;

                &:hover {
                    color: #a2e028;
                }

                i {
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            &.dropdown {
                text-align: left;
                position: relative;

                .dropdown-menu  {
                    top: 100%;
                    left: 0;
                    right: 0;
                    padding: 5px 10px 10px 10px;
                    display: none;
                    position: absolute;
                    background: url("../img/dropnav-pattern.png");
                    @include box-shadow(0px 3px 7px 0px rgba(0, 0, 0, 0.55));

                    li {
                        margin-bottom: 5px;
                        position: relative;
                        padding-left: 10px;

                        &:before {
                            top: 0;
                            left: 0;
                            color: #fff;
                            content: '-';
                            font-size: 11px;
                            line-height: 15px;
                            position: absolute;
                        }

                        a {

                            color: #fff;
                            font-size: 11px;
                            line-height: 15px;
                            text-decoration: none;
                            text-transform: uppercase;

                            &:hover {
                                color: #a2e028;
                            }
                        }
                    }
                }


                &.open {
                    background: url("../img/dropnav-pattern.png");
                    @include box-shadow(0px 3px 7px 0px rgba(0, 0, 0, 0.55));

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }


    @media (min-width: $screen-md-min) {

        top: -5px;
        left: 90px;
        padding-top: 0;
        position: absolute;
    }
}


.sidenav {
    top: 30%;
    left: 0;
    z-index: 999;
    position: fixed;

    .dropdown {
        padding-left: 20px;
        position: relative;

        &.open {
            .dropdown-menu {
                display: block;
            }
        }
    }

    .side-toggle {
        width: 32px;
        height: 32px;
        color: #78d2db;
        padding: 5px 0;
        cursor: pointer;
        font-size: 24px;
        line-height: 24px;
        text-align: center;

        i {
            font-size: 24px;
            line-height: 24px;
        }
    }

    .dropdown-menu {
        left: 0;
        top: 100%;
        display: none;
        padding: 10px;
        width: 240px;
        position: absolute;
        background: rgba(154,164,180, 0.8);

        li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 20px;

            &:before {
                left: 0;
                top: 5px;
                width: 8px;
                height: 8px;
                content: ' ';
                background: #fff;
                position: absolute;
                @include border-radius(50%);
            }

            a {

                color: #fff;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;

                &:hover {
                    color: #a2e028;
                }
            }
        }
    }
}