.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 14px 20px;
	background: #7bb46d;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #8bd878;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-blue {
	font-size: 16px;
	padding: 24px 50px;
	background: #224d82;

	&:hover {
		background: #316aaf;
	}
}

.btn-transparent {
	padding: 11px 20px;
	border: 2px solid #fff;
	background: transparent;

	&:hover {
		color: #435a83;
		background: #fff;
	}
}
