.form-control {
	margin: 0;
	width: 100%;
	color: #777;
	outline: none;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 20px;
	display: inline-block;
	background: transparent;
	border: 2px solid #7bb46d;
	@include placeholder(#777);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.form-name {
		padding-left: 45px;
		background: transparent url("../img/icon-user.png") 20px 50% no-repeat;
	}

	&.form-phone {
		padding-left: 45px;
		background: transparent url("../img/icon-phone.png") 18px 50% no-repeat;
	}

	&.invert {
		color: #fff;
		border-color: #fff;
		@include placeholder(#fff);

		&.form-name {
			padding-left: 45px;
			background: transparent url("../img/icon-user-white.png") 20px 50% no-repeat;
		}

		&.form-phone {
			padding-left: 45px;
			background: transparent url("../img/icon-phone-white.png") 18px 50% no-repeat;
		}

		&.form-message {
			padding-left: 45px;
			background: transparent url("../img/icon-mail-white.png") 10px 10px no-repeat;
		}
	}


}




label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}